<h1 class="is-size-3"> Sobre mi </h1>
<p>Soy estudiante de Matemáticas apasionado por la tecnología, con interés en la ciencia de datos y el impacto social de las innovaciones. Emprendedor de espíritu e inspirado por el arte, el cine y la literatura. </p>
