<div class="header-with-button">
  <h1 class="is-size-4">Artículos recientes</h1>
  <a href="{{ '/blog/articulos' | url }}" class="button">Ver todos</a>
</div>
<ul class="article-list">
  {% for post in collections.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
  {% else %}
    <li>No hay artículos recientes disponibles.</li>
  {% endfor %}
</ul>


