<hr>
<footer id="contact">
    <!-- Ícono de Gmail usando Material Icons -->
    <a href="mailto:fernandoleonsierra@gmail.com" target="_blank" rel="noopener noreferrer">
      <span class="material-icons" style="font-size: 20px; vertical-align: middle;">mail</span>
    </a>
  <p><small>🎈🦡 Sitio hecho con <a href="https://www.11ty.dev/" target="_blank"><b><i>11ty</i></b></a> 🦡🎈</small></p>
</footer>
