<hr>
<footer id="contact">
  <p>Contáctame: <a href="mailto:fernandoleonsierra@gmail.com" target="_blank" rel="noopener noreferrer">
    <img src="ruta-del-icono-de-gmail.svg" alt="Gmail" style="width: 20px; height: 20px;"> Enviar un correo</a></p>
  <p><small>🎈🦡 Sitio hecho con <a href="https://www.11ty.dev/" target="_blank"><b><i>11ty</i></b></a> 🦡🎈</small></p>
</footer>
