<div class="menu">
  <p class="menu-label">Fernando León</p>
  <ul class="menu-list">
    <li><a href="/">Inicio</a></li>
    <li><a href="/blog/articulos">Articulos</a></li>
    <li><a href="#acerca">Acerca</a></li>
  </ul>
</div>
