<div class="menu">
  <p class="menu-label">Fernando León</p>


  <!-- Menú (por defecto visible en pantallas grandes) -->
  <ul class="menu-list">
    <li><a href="{{ '/' | url }}">Inicio</a></li>
    <li><a href="{{ '/#acerca' | url }}">Acerca</a></li>
    <li><a href="{{ '/#articulos' | url }}">Artículos</a></li>
  </ul>
</div>
