<div class="menu">
  <p class="menu-label">Fernando León</p>
  <ul class="menu-list">
    <li><a href="{{ '/index' | url }}">Inicio</a></li>
    <li><a href="{{ '/acerca' | url }}">Acerca</a></li>
    <li><a href="{{ '/blog/articulos' | url }}">Articulos</a></li>
  </ul>
</div>
