<h1 class="is-size-3">Proyectos</h1>
<br>

<ul class="projects-list">
  <li class="project-item">
    <a href="{{ '/cienciaytech' | url }}" class="has-text-link title-project">
      <i class="icon-project">📚</i> Ciencia y Tecnología
    </a>
    <p class="description-project">Un espacio diseñado para que estudiantes colaboren y aprendan sobre ciencia de datos mientras resuelven problemas reales en equipo.</p>
  </li>

  <li class="project-item">
    <a href="#" class="has-text-link title-project">
      <i class="icon-project">🏙️</i> Rascacielos
    </a>
    <p class="description-project">Transformando el sector inmobiliario con soluciones tecnológicas innovadoras.</p>
  </li>
</ul>
