---
layout: layouts/layout-articles.njk
title: Artículos 
---
<h1 class="is-size-2"> {{title}}</h1>

<ul class="article-list">
  {% for post in collections.allPosts %}
    <li style="--i: {{ loop.index }}">
      <a href="{{ post.url | url }}"> {{ post.data.title }}</a>
    </li>
  {% else %}
    <li>No hay artículos recientes disponibles.</li>
  {% endfor %}
</ul>
