<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Fernando's Website</title>
  <meta name="description" content="{{ description }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">


</head>

<body>


  <div class="container">

    {% include "header.njk" %}

    <div class="layout">
      <div class="columns">
        <div class="column is-one-quarter">
          {% include "nav.njk" %}
        </div>
        <main>
          {{ content | safe }}
        </main>
      </div>
    </div>

    {% include "footer.njk" %}
    <script src="{{ '/js/scripts.js' | url }}"></script>
  </div>


</body>
