.main-header {
    height: 100px; /* Ajusta la altura del header según sea necesario */
    background-color: white; /* Asegura que sea completamente blanco */
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
  }



  .container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 0 20px; /* Márgenes internos para evitar que toque los bordes */
  }
  
  /* Opcional: ajusta el ancho de la barra de navegación */
  .menu {
    margin: 20px 0; /* Agrega margen superior e inferior */
  }


   /*Hacer mas grande el titulo "Fernando Leon" */

  .menu-label {
    font-size: 2.5rem; /* Ajusta el tamaño según tu preferencia */
  }
  




  /* Aseguramos que la página ocupe toda la altura */
html, body {
  height: 100%;
  margin: 0;
}

/* Usamos Flexbox para el layout principal */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que el layout ocupe al menos toda la altura de la pantalla */
}

/* Hacemos que el contenido principal ocupe el espacio restante */
main {
  flex-grow: 1; /* Esto empuja el footer hacia el fondo */
}

/* Aquí personalizas el footer */
footer {
  padding: 20px;
  text-align: center;
}


.header-with-button {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea ambos elementos al inicio del contenedor */
  gap: 10px; /* Añade un espacio uniforme entre el título y el botón */
}

.header-with-button h1 {
  margin: 0;
}

.header-with-button .button {
  margin-left: 0; /* Elimina el empuje hacia la derecha */
}


.article-list {
  list-style: none; /* Quitar viñetas */
  padding: 0;
  margin: 0;
}

.article-list li {
  padding: 10px 0; /* Espacio entre artículos */
  border-bottom: 1px solid #e0e0e0; /* Línea divisoria */
}

.article-list li:last-child {
  border-bottom: none; /* Quitar línea del último artículo */
}

.article-list a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem; /* Tamaño ligeramente mayor */
}

.article-list a:hover {
  color: #007BFF; /* Cambiar color en hover */
}

.article-list li {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i)); /* Retraso escalonado */
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
