.main-header {
    height: 100px; /* Ajusta la altura del header según sea necesario */
    background-color: white; /* Asegura que sea completamente blanco */
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
  }



