---
layout: layouts/layout-pages.njk
title: Sobre mi 
---

<h1 class="is-size-1"> Sobre mi </h1>
<p>Actualmente, soy estudiante de Matemáticas con una profunda fascinación por la tecnología, lo que ha orientado mi trayectoria profesional hacia el campo de la ciencia de datos. Sin embargo, más allá de la tecnología, busco integrar una visión humana en mi trabajo, explorando cómo las innovaciones tecnológicas impactan y transforman la sociedad. Además, me apasiona emprender, no solo como un desafío personal que me impulsa a salir de mi zona de confort, sino también como una herramienta para aprender, generar valor y contribuir al bienestar de otros. Creo firmemente en el poder del emprendimiento para crear oportunidades y construir soluciones innovadoras. Por último, me considero un apasionado de las grandes manifestaciones de la creatividad. Encuentro inspiración constante en el cine, la música y la literatura, expresiones que enriquecen mi perspectiva y me conectan con las emociones y la belleza del mundo</p>
