---
layout: layouts/layout-articles.njk
title: "Ciencia y Tecnología: un motivo personal"
---
<h1 class="is-size-2"> {{title}}</h1>

    </br>
    </br>

<blockquote class="highlighted-quote">
    <p>Este es un espacio pensado para que los estudiantes de la UPTC puedan aprender a programar, aplicar estos conocimientos en problemas reales y cerrar la brecha entre la industria y la academia.</p>
    <p>Para más información sobre el proyecto, visita la <a href="https://mathuptc.github.io/mathapp-eleventy/sobre/" target="_blank" class="highlighted-link">Página Oficial</a>.</p>

    <p>Lo que leera acontinuacion es una <b>"una vision más personal de este proyecto"</b></p>
</blockquote>


</br>

<blockquote class="personal-story">
    <p>
        Cuando era un niño, casi adolescente, mi hermano estudiaba en la UPTC (Universidad Pedagógica y Tecnológica de Colombia). 
        Movido por la curiosidad y las ganas de aprender, se había aficionado a dos cosas: las matemáticas y la programación. 
        Ese hecho resultó ser crucial, tanto para él como para mí.
    </p>
    <p>
        En su entusiasmo por estos nuevos mundos, quiso enseñarme todo lo que sabía y lo que iba aprendiendo. 
        Frente a una vieja computadora en casa, nos sentábamos juntos mientras él me mostraba conceptos y me enseñaba. 
        Recuerdo jugar con <em>Scratch</em> y <em>Lightbot</em>, plataformas diseñadas para que los niños aprendan programación de manera interactiva. 
        Siempre me recalcaba la importancia de estas dos disciplinas, cómo estaban transformando el presente y cómo moldearían el futuro.
    </p>
    <p>
        En una de esas tardes, dentro de nuestra rutina de aprendizaje, vimos un 
        <a href="https://www.youtube.com/watch?v=nKIu9yen5nc" target="_blank" class="highlighted-link">video</a>
        sobre la importancia de aprender a programar y por qué debería enseñarse más. 
        Ese video tendría un gran impacto en mí...
    </p>
</blockquote>

    </br>

<p>
    A pesar de la influencia que tuve desde pequeño, durante años <span style="color: #d9534f; font-weight: bold;">evité</span> aprender a programar o profundizar en las matemáticas. Sin embargo, cuando llegó el momento de elegir una carrera universitaria, comprendí—tras algunos tropiezos <em>(como haber estudiado Economía durante un semestre antes de cambiar a Matemáticas)</em>—que, en realidad, las matemáticas siempre habían sido mi verdadera vocación.
</p>

<br>

<p>
    Al ingresar al mundo universitario dentro del ámbito de las <span style="color: #0275d8; font-weight: bold;">ciencias exactas</span>, tenía grandes expectativas. Muchas de ellas fueron cumplidas, incluso superadas, pero con el tiempo surgió una inquietud particular: a medida que avanzaba en la carrera y conocía mejor el plan de estudios, me di cuenta de que había un vacío que no podía ignorar.
</p>

<br>

<p>
    En la <span style="text-decoration: underline;">Facultad de Ciencias</span> y, en especial, en la <span style="text-decoration: underline;">Escuela de Matemáticas</span>, predominaba un enfoque marcadamente <span style="color: #5cb85c; font-weight: bold;">teórico</span>. Con frecuencia, se dejaba en segundo plano el desarrollo de un pensamiento orientado hacia la <span style="color: #5bc0de; font-weight: bold;">aplicación</span> de la ciencia, lo que generaba una brecha evidente entre las habilidades fomentadas en la academia y las demandas del mundo real.
</p>
<br>

<p>
    Es cierto que, al pertenecer a una escuela de <span style="color: #f0ad4e; font-weight: bold;">Ciencias Puras</span>, el enfoque está puesto en construir bases sólidas: estudiamos matemáticas, pero <em>matemáticas puras</em>; estudiamos física, pero <em>física pura</em>. Y aunque esta formación es valiosa y rigurosa, también me preguntaba si no era posible equilibrarla con una perspectiva más aplicada, capaz de conectar la investigación con los problemas y desafíos del mundo actual.
</p>
<br>

<p>
    Desde mis primeros días en la universidad, esta inquietud comenzó a tomar forma, especialmente al comprender el contexto en el que estábamos inmersos. Siempre he pensado que, al menos en nuestro entorno inmediato—Boyacá—los jóvenes ingresan a la universidad con gran esfuerzo, buscando mejores oportunidades laborales y, en general, una mejor calidad de vida. 
</p>

<br>

<p>
    Sin embargo, cuando en la universidad se valora más lo <span style="color: #5cb85c; font-weight: bold;">teórico</span> que lo <span style="color: #5bc0de; font-weight: bold;">práctico</span>, pareciera que ignoramos las condiciones de la región y el contexto en el que nos encontramos. A veces da la impresión de que existe una <span style="color: #d9534f; font-weight: bold;">apatía social</span>, en la que lo único que importa es transmitir lo que dicen los libros de ciencia, sin considerar que, más allá de las aulas, hay una realidad que exige soluciones y aplicaciones concretas.
</p>
<br>


<p>  
    Movido por esta inquietud, en el año <span style="font-weight: bold; color: #0275d8;">2023</span> participé en el  
    <span style="text-decoration: underline;">Congreso Nacional de Matemáticas</span> con una ponencia titulada  
    <span style="">"LA INFLUENCIA DE BOURBAKI EN LA EDUCACIÓN MATEMÁTICA EN COLOMBIA:  
    ¿UNA BRECHA ENTRE TEORÍA Y APLICACIÓN PRÁCTICA?"</span>.  
    Durante esta investigación descubrí que esta problemática no era reciente, sino que tenía raíces profundas en la historia.  
</p>  
<br>


<p>  
    Una de las características distintivas de la <span style="text-decoration: underline;">universidad pública</span> es su  
    <span style="color: #5cb85c; font-weight: bold;">diversidad</span> y cómo esta pluralidad de experiencias y perspectivas  
    enriquece el pensamiento. Siempre he valorado la <span style="color: #f0ad4e; font-weight: bold;">conversación</span>  
    y estoy convencido de que el <span style="color: #5bc0de; font-weight: bold;">diálogo</span> es fundamental para  
    la construcción del conocimiento, el debate de ideas y la gestación de proyectos.  
    Con el tiempo, al hablar con más compañeros y profesores, comprendí dos cosas fundamentales:  
</p>  

<ul class="lista-ajustada">  
    <li><span style="color: #d9534f; font-weight: bold;">No era el primero</span> en identificar este problema.</li>  
    <li>Existía una preocupación compartida por la <span style="color: #0275d8; font-weight: bold;">brecha entre la industria y la academia</span>.</li>  
</ul>
<br>


<p>  
    Luego, en el año 2024, tuve la gran oportunidad de participar en el programa <a href="https://ninyam.github.io/paresordenados/index" target="_blank" class="highlighted-link">Pares Ordendaos</a>. 
    Esta experiencia fue bastante enriquecedora, en primera medida por el hecho de participar y aprender bajo una dinamica distinta, pero tambien quede fascinado con la propuesta que se planteba en el proyecto, 
    un espacio
</p>  


