---
layout: layouts/layout-pages.njk
title: Hola.
---

<h1 class="is-size-1"> {{ title }}</h1>
<br>
<p>Soy Fernando. Aca escribo y comparto lo que me interesa</p>
<br>
<p>Estudiante de Matemáticas apasionado por la tecnología, me gusta emprender.</p>
