---
layout: layouts/layout-pages.njk
title: Hola.
---

<h1 class="is-size-1"> {{ title }}</h1>
<br>
<p>Soy Fernando. Aca escribo y comparto lo que me interesa</p>
<br>
<p>Enlaces rápidos:  
  <a href="https://www.linkedin.com/in/cristian-fernando-le%C3%B3n-132267191/" target="_blank" rel="noopener noreferrer">LinkedIn</a> |
  <a href="https://github.com/ds-fernando" target="_blank" rel="noopener noreferrer">GitHub</a> |
  <a href="#contact" class="contact-link">Contáctame</a> 
</p>

<br>

<section id="acerca">
    {% include "acerca.njk" %}
</section>
<br>

<section id="articulos">
  {% include "articulos.njk" %}
</section>


